// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-about {
   color: #fff;
   background-color: rgba(211,211,211,0.3);
  margin-top: 300px;
  margin-bottom: 500px;
  margin-right: 300px;
  margin-left: 300px;
}
 .text-about {
FONT-SIZE: 15px; COLOR: #FFFFFF; FONT-FAMILY: Arial; TEXT-DECORATION: none ; TEXT-ALIGN:justify;
}
